.ordering-cart-products {
    max-width: 800px;
}

.ordering-cart-products {
    grid-template-columns: unset;
}

.ordering-cart-coupon,
.ordering-cart-checkout__info-text,
.ordering-cart-checkout {
    max-width: 580px;
}