.ordering-nav {
    font-size: font-size('small');
    --spacing: #{ space(1) };
}

.ordering-footer {
    grid-template-columns: unset;
    justify-content: stretch;
    gap: space(3);

    > * {
        &:first-child { order: 2; }
        &:last-child { order: 1; }
    }
}