@font-face {
    font-family: Atyp;
    font-weight: normal;
    src: url('/fonts/AtypText-Regular.ttf');
}

@font-face {
    font-family: Atyp;
    font-weight: bold;
    src: url('/fonts/AtypText-Bold.ttf');
}